@if (checklist(); as checklist) {
  <app-checklist-header
    [checklist]="checklist"
    (addItem)="checklistItemsBeingEdited.set({})"
    (resetChecklist)="checklistItemService.resetToggles$.next($event)"
    [items]="items()"
    ></app-checklist-header>
  <app-checklist-item-list
    [checklistItems]="items()"
    (toggle)="checklistItemService.toggle$.next($event)"
    (edit)="checklistItemsBeingEdited.set($event)"
    (delete)="checklistItemService.remove$.next($event)"
    />
}

<app-modal [isOpen]="!!checklistItemsBeingEdited()">
  <ng-template>
    <app-form-modal
      [formGroup]="checklistItemForm"
      title="Create Item"
      (save)="
      checklistItemsBeingEdited()?.id
      ? checklistItemService.edit$.next({
        id: checklistItemsBeingEdited()!.id!,
        data: checklistItemForm.getRawValue()
      })
      : checklistItemService.add$.next({
        item: checklistItemForm.getRawValue(),
        checklistId: checklist()?.id!,
      })"
      (close)="checklistItemsBeingEdited.set(null)"
    ></app-form-modal>
  </ng-template>
</app-modal>